<div class="container slogan-points px-4 px-md-3">
  <section class="row mb-5 pb-md-4 align-items-center">
    <div class="col-md-5">
      <div class="slogan-points-icon d-inline-block mb-2 text-white bg-danger">
        {{ partial "icons/expand" (dict "width" "32" "height" "32") }}
      </div>
      <h2 class="display-5 fw-normal">
        Faux Precision Distracts From Cruel Intent
      </h2>
      <p class="lead fw-normal">
        Overwhelming fake "legal precision" of extensive volumes of static text
        can quickly obstruct the sinister dynamic intent.
      </p>
      <p>
        Critical to successful lawsuits is "seeing through" the deliberate,
        QAnon-style abusive emotional confusion and then quickly prioritizing
        the essential narratives.
      </p>
      <div
        class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-left"
      >
        <a class="btn btn-lg btn-outline-primary mb-3 me-md-3" href="/struggle/"
          >Struggle</a
        >
        <a
          href="https://femfas.net/rights/scotus/"
          class="btn btn-lg btn-outline-secondary mb-3"
          >March To SCOTUS</a
        >
      </div>
    </div>
    <div class="col-md-7 ps-md-5">
      <pre>
"Dear Pres. Biden, in my personally experienced
and meticulously documented reality, the elite
'million-dollar' divorce lawyers of our nation’s
'Best Law Firms' are deliberately peddling
in QAnon-style disgusting raw sewage..."</pre
      >
    </div>
  </section>
  <section class="row mb-5 pb-md-4 align-items-center">
    <div class="col-md-5">
      <div class="slogan-points-icon d-inline-block mb-2 text-white bg-warning">
        {{ partial "icons/code" (dict "width" "32" "height" "32") }}
      </div>
      <h2 class="display-5 fw-normal">Social Injustice BLOCKCHAIN-ed</h2>
      <p class="lead fw-normal">
        Distributed "active" blockchains (perhaps NFTs) are the ultimate medium
        for storage of social injustice evidence with proven openness,
        consistency, verifiability, and falsifiability.
      </p>
      <p>
        Qaltum.net is the open-source framework to help you transparently
        support and emotionally invest in your chosen "social injustice" court
        struggle.
      </p>
      <a href="/disrupt/" class="btn btn-lg btn-outline-primary mb-3"
        >Disrupt</a
      >
    </div>
    <div class="col-md-7 ps-md-5">
      <pre>
"Dear Chief Justice, just 6 months later, I had
to file in my desperate but still banned 
'whistleblower silencing' motion, that ... the 
current Qnarre Judicial Report, based only on 3
judgments, contains [and documents] 1,200+ 
inconsistencies and outright fabrications by 3 
judges of the Family Court."</pre
      >
    </div>
  </section>
  <section class="row mb-5 pb-md-4 align-items-center">
    <div class="col-md-5">
      <div class="slogan-points-icon d-inline-block mb-2 text-white bg-success">
        {{ partial "icons/cloud-fill" (dict "width" "32" "height" "32") }}
      </div>
      <h2 class="display-5 fw-normal">Astounding New Capacity & Speed</h2>
      <p class="lead fw-normal">
        "Producing" paralyzing amounts of confusing and misleading claims is
        cheap and exponentially lucrative for predator lawyers in our digital
        present.
      </p>
      <p>
        Adaptive "deep learning" technology allows incredibly fast sifting
        through incomprehensibly large bodies of text. Condensing the thus
        inferred intent into proven narratives is now possible.
      </p>
      <div
        class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-left"
      >
        <a class="btn btn-lg btn-outline-primary mb-3 me-md-3" href="/nfts/"
          >NFTs</a
        >
        <a href="/qaltum/" class="btn btn-lg btn-outline-secondary mb-3"
          >Qaltum.app</a
        >
      </div>
    </div>
    <div class="col-md-7 ps-md-5">
      <pre>
"Just a hundred pages of Court orders yielded
1,200+ 'errors,' or surely embarrassing purely
textual inconsistencies. Slicing the evidence
into thematic 'qnarre' [quick narratives], gave
me a few pages long quantitate pivot table with
intuitive drill-downs for visual verification."</pre
      >
    </div>
  </section>
</div>
